# Указать необходимый стенд
STAGE = Local

# Develop STAGE
URL=
CLIENT_ID=
CLIENT_SECRET=

# Local STAGE
URL_LOCAL=http://apiv2.localhost
CLIENT_ID_LOCAL=
CLIENT_SECRET_LOCAL=

# Настройки подключения к базе данных
DB_USER_LOCAL=
DB_PASSWORD_LOCAL=
DB_HOST_LOCAL=

DB_USER_DEV=
DB_PASSWORD_DEV=
DB_HOST_DEV=